<?xml version="1.0" encoding="UTF-8"?>
<layout>
  <LatteView>
    <Screen>0</Screen>
    <Edge>Bottom</Edge>
    <Alignment>Center</Alignment>
    <Visibility>AutoHide</Visibility>
    <Applets>
      <Applet plugin="org.kde.plasma.kickoff"/>
      <Applet plugin="org.kde.plasma.icontasks"/>
      <Applet plugin="org.kde.plasma.systemtray"/>
      <Applet plugin="org.kde.plasma.digitalclock"/>
    </Applets>
  </LatteView>
</layout>
